/- graphql {
    action 
}

image defaultImage {
    title "der default title"
    string caption
}

object castMember "Schauspieler" {
    preview {
        title #"${o.person?.title} (imdb ${o.externalId})"#
        subtitle characterName
        media person.media
    }
    string characterName
    ref person to=person
    number externalId
    string externalCreditId
}

object crewMember {
    preview {
        title person.title
        subtitle (js)#"`${o.job} - ${o.department}`"#
        media person.media
    }
    string department
    string job
    ref person to=person
    number externalId
    string externalCreditId
}

object balance title=finanial {
    number costs 
    number revenue 
}

doc movie  {
    preview title=title media=poster

    fieldsets {
        name social "Social media handles"
    }

    string title
    slug slug source=title
    text overview
    datetime releaseDate 
    number externalId 
    number popularity 
    // todo
    //object poster defaultImage hotspot=#true
    //- defaultImage poster hotspot=#true
    //+defaultImage poster hotspot=#true
    defaultImage poster  hotspot=#true
    // (defaultImage)object poster hotspot=#true

    array castMembers  of=castMember
    array crewMembers  of=crewMember
    // todo
    > balance balance
}

doc person icon=person {
    preview title="name slug.current"
    string name
    slug slug source=name
    // todo
    defaultImage image  hotspot=#true
}

doc screening {
    string title
    ref movie  to=movie
    boolean published 
    geopoint location 
    datetime beginAt 
    datetime endsAt 
    string allowedGuests list=members,fields,anyone layout=radio
    url infoUrl 
    file ticket 
}

